/* NpKnob */
* {
	-webkit-user-select: none;
	user-select: none;
}

.npknob + input[type="number"] {
  display: none;
}

.npknob-wrapper {
  display: inline-block;
  height: 120px;
  margin: 1rem auto;
  position: relative;
  width: 120px;
}

.npknob {
	transition: transform .5s ease;
	background: transparent;
	border-color: #92c5c8;
	border-style: solid;
	border-radius: 50%;
	border-width: 6px;
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
}

.npknob::after {
	content: '';
	background-color: #92c5c8;
	display: block;
	height: 40%;
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 6px;
}

.npknob.active {
	transition: none;
	border-color: #a3dde0;
	box-shadow: 0 0 5px 0 #a3dde0, inset 0 0 5px 0 #a3dde0;
}

.npknob.active::after {
	background-color: #a3dde0;
	box-shadow: 0 0 5px 0 #a3dde0, inset 0 0 5px 0 #a3dde0;
}

/* Other styles */
.row.flex {
  background-color: #fff7f7;
  background-color: #dd4e47;
  padding: 4.8rem 0;
}

@media only screen and (min-width: 550px) {
  .row.flex {
    display: flex;
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 1;
}

.bg-image {
  background-image: url('../img/navelpluisje.svg');
  background-repeat: no-repeat;
}

.card {
  background-color: #ffffff;
  height: 100%;
  min-height:250px;
  padding: 3.2rem;
}

._npPrimary {
  background-color: #dd4e47;
  border-color: #dd4e47;
  color: white;
}

.button._npPrimary {
  background-color: white;
  border-color: #dd4e47;
  color: #dd4e47;
  font-size: 1.6rem;
  line-height: 4.8rem;
  padding-bottom: 0;
  padding-top: 0;
  text-transform: none;
}

._center._center {
  float: unset;
  margin: 3rem auto;
}

.topnav li a {
  font-weight: 300;
}

ul.topnav li a.active {
  background-color: #dd4e47;
}

.responsive > ._floatRight {
  float: none !important;
}
