/*!
 * Beauter v0.2.4 (http://beauter.outboxcraft.com)
 * Copyright 2016-2017 Shubham Ramdeo, Outboxcraft
 * Licensed under MIT (https://github.com/outboxcraft/beauter/blob/master/LICENSE)
 */


/*
[Table of contents]

- Base Styles
- Typography
- Tables
- Blockquote
- Lists
- Forms
- Grid and Responsive classes
- Navigation
- Alert
- Parallax
- Media
- Progress bar
- imgmodal
- Tooltips
- Modal
- Pagination
- Breadcrumbs
- Card
- Utilities
*/


/*<<<---------- Base Styles ---------->>>*/

*
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%; /*hack*/

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*This will set all REM to 10px, so that 1.8rem=18px*/
}

body
{
    font-family: 'Roboto Condensed', 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.6;

    margin: 0;

    color: #222;
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}


/*<<<---------- Typography ---------->>>*/

b,
strong
{
    font-weight: bolder;
}

mark
{
    color: #000;
    background-color: #ff9;
}

small
{
    font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-weight: 300;

    margin-top: 0;
    margin-bottom: 2rem;
}

h1
{
    font-size: 4.0rem;
    line-height: 1.2;

    letter-spacing: -.1rem;
}

h2
{
    font-size: 3.6rem;
    line-height: 1.25;

    letter-spacing: -.1rem;
}

h3
{
    font-size: 3.0rem;
    line-height: 1.3;

    letter-spacing: -.1rem;
}

h4
{
    font-size: 2.4rem;
    line-height: 1.35;

    letter-spacing: -.08rem;
}

h5
{
    font-size: 1.8rem;
    line-height: 1.5;

    letter-spacing: -.05rem;
}

h6
{
    font-size: 1.5rem;
    line-height: 1.6;

    letter-spacing: 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small
{
    opacity: .75;
}


/* Larger than phablet */

@media (min-width: 550px)
{
    h1
    {
        font-size: 5.0rem;
    }
    h2
    {
        font-size: 4.2rem;
    }
    h3
    {
        font-size: 3.6rem;
    }
    h4
    {
        font-size: 3.0rem;
    }
    h5
    {
        font-size: 2.4rem;
    }
    h6
    {
        font-size: 1.5rem;
    }
}

p
{
    margin-top: 0;
    margin-bottom: 2.5rem;
}

a
{
    color: #1eaedb;
    background-color: transparent;

    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover
{
    color: #0fa0ce;
    outline-width: 0;
}


/* For Geeks! */

pre
{
    font-family: monospace, monospace;
    font-size: 1em;

    margin-bottom: 2.5rem;
}

code,
kbd
{
    font-family: monospace, monospace;

    color: #000;
}

code
{
    font-size: 90%;

    margin: 0 .2rem;
    padding: .2rem .5rem;

    white-space: nowrap;

    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background: #f1f1f1;
}

pre > code
{
    display: block;
    overflow-x: auto;

    padding: 1rem 1.5rem;

    white-space: pre;

    color: #fff;
    border-radius: 10px;
    background: #333;
}

kbd
{
    font-size: 90%;

    margin: 0 .2rem;
    padding: .3rem .5rem;

    white-space: nowrap;

    border: 1px solid #a1a1a1;
    border-radius: 4px;
    background: #f1f1f1;
}

hr
{
    overflow: visible;

    box-sizing: content-box;
    width: 75%;
    height: 0;
    margin-top: 3rem;
    margin-bottom: 3.5rem;

    border-width: 0;
    border-top: 1px solid #e1e1e1;
}


/*<<<---------- Tables ---------->>>*/

table
{
    overflow-x: auto;

    margin-bottom: 2.5rem;

    border-collapse: collapse;
}

th,
td
{
    padding: 12px 15px;

    text-align: left;

    border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child
{
    padding-left: 5px;
}

th:last-child,
td:last-child
{
    padding-right: 5px;
}

tr:hover
{
    background-color: #f5f5f5;
}

tr:nth-child(even)
{
    background-color: #f2f2f2;
}


/*<<<---------- Blockquote ---------->>>*/

blockquote,
dl,
figure
{
    margin-bottom: 2.5rem;
}

blockquote
{
    margin: 5px;
    padding-left: 10px;

    border-left: 5px solid pink;
}

blockquote footer
{
    text-align: right;

    color: #d3d3d3;
}


/*<<<---------- Lists ---------->>>*/

ol
{
    list-style: decimal outside;
}

ol ol
{
    list-style-type: lower-alpha;
}

ol ol ol
{
    list-style-type: upper-roman;
}

ul
{
    list-style: disc outside;
}

ul ul
{
    list-style-type: circle;
}

ul ul ul
{
    list-style-type: square;
}

ol,
ul
{
    margin: 0 0 2.5rem 3rem;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul
{
    font-size: 90%;

    margin: 1.5rem 0 1.5rem 3rem;
}

li
{
    margin-bottom: 1rem;
}

dl dt
{
    font-weight: bold;
}


/*<<<---------- Forms ---------->>>*/

.button,
button,
input,
optgroup,
select,
textarea
{
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;

    margin: 0;
}

.button,
button,
input
{
    overflow: visible;
}

.button,
button,
select
{
    text-transform: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit']
{
    -webkit-appearance: button;
       -moz-appearance: button;
}

.button::-moz-focus-inner,
button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner
{
    padding: 0;

    border-style: none;
}

.button:-moz-focusring,
button:-moz-focusring,
input[type='button']:-moz-focusring,
input[type='reset']:-moz-focusring,
input[type='submit']:-moz-focusring
{
    outline: 1px dotted ButtonText;
}

legend
{
    max-width: 100%;
    padding: 0;

    white-space: normal;

    color: inherit;
    border: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

input[type='search']
{
    outline-offset: -2px;

    -webkit-appearance: textfield;
       -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
       -moz-appearance: none;
}

form
{
    margin-bottom: 2.5rem;
}

input,
textarea,
select,
fieldset
{
    margin-bottom: 1.5rem;
}

textarea
{
    overflow: auto;

    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

label,
legend
{
    font-weight: 600;

    display: block;

    margin-bottom: .5rem;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #ddd;
    /*c0c0c0*/
    border-radius: 5px;
}

input[type='checkbox'],
input[type='radio']
{
    display: inline;

    padding: 0;
}

label > .label-body
{
    font-weight: normal;

    display: inline-block;

    margin-left: .5rem;
}

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button']
{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.15;

    display: inline-block;

    margin-bottom: 1rem;
    padding: 10px 30px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .1rem;
    text-transform: uppercase;

    color: #555;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: transparent;
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus
{
    opacity: .75;
    color: #333;
    border-color: #888;
    outline: 0;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select
{
    height: 34px;
    padding: 6px 10px;

    border: 1px solid #d1d1d1;
    border-radius: 4px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    box-shadow: none;
}


/* Removes awkward default styles on some inputs for iOS */

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea
{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus
{
    border: 2px solid #33c3f0;
    outline: 0;
}


/*<<<---------- Grid and Responsive Classes ---------->>>*/

.row::after
{
    display: block;
    clear: both;

    content: '';
}

.container:after,
.row:after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
    position: relative;

    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.container table
{
    overflow-x: auto;
}


/* For mobile phones: */

.col
{
    float: left;

    width: 100%;
    padding: 15px;
}

.col:first-child
{
    margin-left: 0;
}


/* For devices larger than 400px */

@media (min-width: 400px)
{
    .container
    {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media only screen and (min-width: 550px)
{
    /*for tablets*/
    .container
    {
        width: 80%;
    }
    .m1
    {
        width: 8.33%;
    }
    .m2
    {
        width: 16.66%;
    }
    .m3
    {
        width: 25%;
    }
    .m4
    {
        width: 33.33%;
    }
    .m5
    {
        width: 41.66%;
    }
    .m6
    {
        width: 50%;
    }
    .m7
    {
        width: 58.33%;
    }
    .m8
    {
        width: 66.66%;
    }
    .m9
    {
        width: 75%;
    }
    .m10
    {
        width: 83.33%;
    }
    .m11
    {
        width: 91.66%;
    }
    .m12
    {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (min-width: 750px)
{
    /* For desktop: */
    .d1
    {
        width: 8.33%;
    }
    .d2
    {
        width: 16.66%;
    }
    .d3
    {
        width: 25%;
    }
    .d4
    {
        width: 33.33%;
    }
    .d5
    {
        width: 41.66%;
    }
    .d6
    {
        width: 50%;
    }
    .d7
    {
        width: 58.33%;
    }
    .d8
    {
        width: 66.66%;
    }
    .d9
    {
        width: 75%;
    }
    .d10
    {
        width: 83.33%;
    }
    .d11
    {
        width: 91.66%;
    }
    .d12
    {
        width: 100%;
        margin-left: 0;
    }
}


/*.forced*/

@media only screen
{
    .f1
    {
        width: 8.33%;
    }
    .f2
    {
        width: 16.66%;
    }
    .f3
    {
        width: 25%;
    }
    .f4
    {
        width: 33.33%;
    }
    .f5
    {
        width: 41.66%;
    }
    .f6
    {
        width: 50%;
    }
    .f7
    {
        width: 58.33%;
    }
    .f8
    {
        width: 66.66%;
    }
    .f9
    {
        width: 75%;
    }
    .f10
    {
        width: 83.33%;
    }
    .f11
    {
        width: 91.66%;
    }
    .f12
    {
        width: 100%;
        margin-left: 0;
    }
}


/* Offsets */

@media (min-width: 550px)
{
    .off-1
    {
        margin-left: 8.33%;
    }
    .off-2
    {
        margin-left: 16.66%;
    }
    .off-3
    {
        margin-left: 25%;
    }
    .off-4
    {
        margin-left: 33.33%;
    }
    .off-5
    {
        margin-left: 41.66%;
    }
    .off-6
    {
        margin-left: 50%;
    }
    .off-7
    {
        margin-left: 58.33%;
    }
    .off-8
    {
        margin-left: 66.66%;
    }
    .off-9
    {
        margin-left: 75%;
    }
    .off-10
    {
        margin-left: 83.33%;
    }
    .off-11
    {
        margin-left: 91.66%;
    }
}

.jumbo
{
    padding-top: 5%;
    padding-bottom: 5%;

    text-align: center;
}


/*<<<---------- Navigation ---------->>>*/


/*Top Navigation*/

ul.topnav
{
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: #333;
}

ul.topnav li
{
    float: left;

    margin-bottom: 0;
}

ul.topnav li a
{
    font-size: 17px;

    display: inline-block;

    padding: 14px 16px;

    transition: .3s;
    text-align: center;
    text-decoration: none;

    color: rgba(255, 255, 255, 1);
}

ul.topnav li a.brand
{
    font-weight: bold;

    margin-right: 20px;
    margin-left: 20px;
}

ul.topnav li a.brand:hover
{
    background: rgba(0, 0, 0, .1);
}

ul.topnav li a.disabled:hover
{
    color: #d3d3d3;
    background: rgba(0, 0, 0, 0);
}

ul.topnav li a.disabled
{
    color: #d3d3d3;
}

ul.topnav li a.active
{
    color: #fff;
    background-color: rgba(255, 255, 255, .5);
}

ul.topnav li a:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .1);
}

ul.topnav li.-icon
{
    display: none;
}

ul.topnav .dropdown:hover .dropdown-content
{
    display: block;
}

ul.topnav .dropdown-content a
{
    display: block;
}

@media screen and (max-width:750px)
{
    ul.topnav li:not(:first-child)
    {
        display: none;
    }
    ul.topnav li.-icon
    {
        display: initial;
        float: right;
    }
}

@media screen and (max-width:750px)
{
    ul.topnav.responsive
    {
        position: relative;
    }
    ul.topnav.responsive li.-icon
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive li
    {
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a
    {
        display: block;

        text-align: left;
    }
}


/* Dropdown */

.dropdown-content
{
    position: absolute;
    z-index: 2;

    display: none;

    min-width: 160px;

    background-color: #444;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.dropdown-content a
{
    display: block;

    padding: 12px 16px;

    transition: .3s;
    text-align: left;
    text-decoration: none;

    color: rgba(255, 255, 255, 1);
}

.dropdown-content a:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .1);
}

.dropdown:hover .dropdown-content
{
    display: block;
}


/* List Navigation */

ul.listnav
{
    margin: 0;
    padding: 0;

    list-style-type: none;

    background-color: #444;
}

.listnav li
{
    margin: 0;
}

.listnav li a
{
    display: block;

    padding: 8px 16px;
    padding-left: 15px;

    text-decoration: none;

    color: rgba(255, 255, 255, 1);
}

.listnav li a:hover
{
    color: #fff;
    background: rgba(0, 0, 0, .1);
}

.listnav li.active a
{
    border-left: 5px solid rgba(255, 255, 255, .5);
}

._cream.listnav li a, ._cream.topnav li a, ._cream.dropdown-content a
{
    color: #000;
}

/*<<<---------- Alert ---------->>>*/

.alert
{
    margin-bottom: 15px;
    padding: 20px;

    transition: opacity .6s;

    opacity: 1;
    color: #fff;
    border-radius: 5px;
    background-color: #f44336;
}

.count
{
    padding-right: 5px;
    padding-left: 5px;

    border-radius: 100%;
    background-color: #ddd;
}


/*<<<---------- Parallax ---------->>>*/

.bg-parallax
{
    overflow-y: auto;

    height: 300px;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    perspective: 1px;
}

.bg-parallax .-front
{
    padding-top: 10%;

    color: #fff;
}


/*<<<---------- Media Elements ---------->>>*/

svg:not(:root)
{
    overflow: hidden;
}

img
{
    max-width: 100%;
    height: auto;

    border-style: none;
}

.video
{
    display: block;

    max-width: 100%;
    height: auto;
}

.-circle
{
    border-radius: 100%;
}

.-round
{
    border-radius: 25%;
}

.-thumb
{
    padding: 5px;

    border: 2px solid #d3d3d3;
}


/*<<<---------- Progress Bar ---------->>>*/

.progressbar
{
    position: relative;

    width: 100%;
    height: 30px;

    border-radius: 5px;
    background-color: #d3d3d3;
}

.progressbar .-bar
{
    position: absolute;

    width: 1%;
    height: 100%;

    border-radius: 5px;
    background-color: #87cefa;
}

.progressbar .-label
{
    line-height: 30px;

    text-align: center;

    color: #fff;
}


/*<<<---------- Tooltips ---------->>>*/

.tooltip
{
    position: relative;

    display: inline-block;

    border-bottom: 1px dotted #000;
}

.tooltip:hover .tooltiptext
{
    visibility: visible;

    opacity: 1;
}

.tooltip .tooltiptext
{
    transition: opacity 1s;

    opacity: 0;
}

.tooltiptext
{
    position: absolute;
    z-index: 1;

    visibility: hidden;

    width: 120px;
    padding: 5px 0;

    text-align: center;

    color: #fff;
    border-radius: 6px;
    background-color: #000;
}

.tooltiptext::after
{
    position: absolute;

    content: '';

    border-width: 5px;
    border-style: solid;
}

.-tooltip-top .tooltiptext
{
    bottom: 150%;
    left: 50%;

    margin-left: -60px;
}

.-tooltip-top .tooltiptext::after
{
    top: 100%;
    left: 50%;

    margin-left: -5px;

    border-color: #000 transparent transparent transparent;
}

.-tooltip-right .tooltiptext
{
    top: -5px;
    left: 110%;
}

.-tooltip-right .tooltiptext::after
{
    top: 50%;
    right: 100%;

    margin-top: -5px;

    border-color: transparent #000 transparent transparent;
}

.-tooltip-left .tooltiptext
{
    top: -5px;
    right: 110%;
}

.-tooltip-left .tooltiptext::after
{
    top: 50%;
    left: 100%;

    margin-top: -5px;

    border-color: transparent transparent transparent #000;
}

.-tooltip-bottom .tooltiptext
{
    top: 150%;
    left: 50%;

    margin-left: -60px;
}

.-tooltip-bottom .tooltiptext::after
{
    bottom: 100%;
    left: 50%;

    margin-left: -5px;

    border-color: transparent transparent #000 transparent;
}


/*<<<---------- imgmodal ---------->>>*/

.modalimg
{
    cursor: pointer;
    transition: .3s;

    border-radius: 5px;
}

.modalimg:hover
{
    opacity: .7;
}

.modal
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%;
    padding-top: 100px;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .9);
}

.modal-content
{
    display: block;

    width: 80%;
    max-width: 700px;
    margin: auto;
}

.caption
{
    display: block;

    width: 80%;
    max-width: 700px;
    height: 150px;
    margin: auto;
    padding: 10px 0;

    text-align: center;

    color: #ccc;
}

.modal-content,
.caption
{
    -webkit-animation-name: zoom;
       -moz-animation-name: zoom;
            animation-name: zoom;
    -webkit-animation-duration: .6s;
       -moz-animation-duration: .6s;
            animation-duration: .6s;
}

@-webkit-keyframes zoom
{
    from
    {
        -webkit-transform: scale(0);
    }
    to
    {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom
{
    from
    {
        transform: scale(0);
    }
    to
    {
        transform: scale(1);
    }
}

@media only screen and (max-width: 750px)
{
    .modal-content
    {
        width: 100%;
    }
    /* 100% Image Width on Smaller Screens */
}


/*<<<---------- Modal ---------->>>*/

.modalbox-modal
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%;
    padding-top: 10%;

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

.modalbox-modal-content
{
    position: relative;

    width: 80%;
    margin: auto;
    padding: 10px !important;

    -webkit-animation-name: animatetop;
       -moz-animation-name: animatetop;
            animation-name: animatetop;
    -webkit-animation-duration: .4s;
       -moz-animation-duration: .4s;
            animation-duration: .7s;

    border: 1px solid #888;
    border-radius: 5px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

@-webkit-keyframes animatetop
{
    from
    {
        /*top: -300px;*/
        opacity: 0;
    }
    to
    {
        /*top: 0;*/
        opacity: 1;
    }
}

@keyframes animatetop
{
    from
    {
        /*top: -300px;*/
        opacity: 0;
    }
    to
    {
        /*top: 0;*/
        opacity: 1;
    }
}

.alert .-close
{
    line-height: 20px;

    float: right;

    margin-left: 15px;
}

.modal .-close
{
    font-size: 40px;

    position: absolute;
    top: 15px;
    right: 35px;
}

.modalbox-modal-content .-close
{
    float: right;

    color: #aaa;
}

.-close
{
    font-size: 22px;
    font-weight: bold;

    cursor: pointer;
    transition: .3s;

    color: #f1f1f1;
}

.modal .-close:hover,
.modal .-close:focus
{
    color: #bbb;
}

.-close:hover,
.-close:focus
{
    text-decoration: none;

    color: #000;
}


/*<<<---------- Pagination ---------->>>*/

.pagination
{
    font-size: 11px;
    font-weight: bold;

    clear: both;

    height: 25px;
    margin: 2px;
    padding: 4px 8px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-decoration: none;

    border-radius: 4px;
}

.pagination a
{
    color: #666;
    border: 1px solid #d5d5d5;
}

.pagination a:hover,
.pagination a:active
{
    background: #efefef;
}


/*<<<---------- Breadcrumb ---------->>>*/

ul.breadcrumb
{
    font-size: 17px;

    margin: 0;
    padding: 10px 16px;

    list-style: none;

    background-color: #eee;
}

ul.breadcrumb li
{
    display: inline;
}

ul.breadcrumb li + li:before
{
    padding: 8px;

    content: '/\00a0';

    color: black;
}

ul.breadcrumb li a
{
    text-decoration: none;

    color: #0275d8;
}

ul.breadcrumb li a:hover
{
    text-decoration: underline;

    color: #01447e;
}


/*<<<---------- Card ---------->>>*/

.card
{
    transition: .3s;

    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card:hover
{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

.card .-content
{
    padding: 2px 16px;
}


/*<<<---------- Utilities ---------->>>*/

._transparent
{
    background: transparent !important;
}

._low
{
    font-size: 75% !important;

    opacity: .75 !important;
}

._high
{
    font-size: 125% !important;

    opacity: .75 !important;
}

._centerAligned
{
    margin: 0 auto;
}

._wrap
{
    white-space:      pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space:   -o-pre-wrap;
    word-wrap: break-word;
}

._gray
{
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}

._blur
{
    -webkit-filter: blur(2.5px);
            filter: blur(2.5px);
}

._full-width
{
    width: 100%;
}

._max-full-width
{
    max-width: 100%;
}

._force-full-width
{
    min-width: 100%;
}

._width100
{
    width: 100%;
}

._width75
{
    width: 75%;
}

._width50
{
    width: 50%;
}

._floatLeft
{
    float: left !important;
}

._floatRight
{
    float: right !important;
}

._alignLeft
{
    text-align: left;
}

._alignRight
{
    text-align: right;
}

._alignCenter
{
    text-align: center;
}

._clear
{
    display: table;
    clear: both;

    content: '';
}

._hidden
{
    display: none !important;
}

._debugmode *
{
    border: 2px solid #f00 !important;
}

._debugmode div
{
    border: 4px solid #0f0 !important;
}

._debugmode .container,
._debugmode .jumbo
{
    border: 6px solid #00f !important;
}

@media screen and (max-width: 400px)
{
    ._hide-mobile
    {
        display: none !important;
    }
}

@media screen and (min-width: 400px) and (max-width: 550px)
{
    ._hide-phablet
    {
        display: none !important;
    }
}

@media screen and (min-width: 550px) and (max-width: 750px)
{
    ._hide-tablet
    {
        display: none !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 1000px)
{
    ._hide-desktop
    {
        display: none !important;
    }
}

@media screen and (min-width: 1000px)
{
    ._hide-widescreen
    {
        display: none !important;
    }
}

._clipped
{
    overflow: hidden !important;
}

._overlay
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

._is-invisible
{
    visibility: hidden !important;
}

._block
{
    display: block !important;
}

._inline
{
    display: inline !important;
}

._inline-block
{
    display: inline-block !important;
}

._noMargin
{
    margin: 0 !important;
}

._noPadding
{
    padding: 0 !important;
}

._posRel
{
    position: relative !important;
}

._posAbs
{
    position: absolute !important;
}

._bordered
{
    padding: 10px;

    border: 1px solid !important;
}

._noReaction
{
    pointer-events: none;
}

._unSelectable
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
}

._round
{
    border-radius: 25px !important;
}

._box
{
    border-radius: 0 !important;
}

._xsmall
{
    font-size: 45% !important;

    padding: 5px 10px !important;
}

._small
{
    font-size: 60% !important;

    padding: 7px 20px !important;
}

._large
{
    font-size: 110% !important;

    padding: 15px 40px !important;
}

._xlarge
{
    font-size: 125% !important;

    padding: 20px 50px !important;
}

._danger
{
    border-color: #f44336 !important;
    background-color: #f44336 !important;
}

._success
{
    border-color: #90ee90 !important;
    background-color: #90ee90 !important;
}

._info
{
    border-color: #2196f3 !important;
    background-color: #2196f3 !important;
}

._warning
{
    border-color: #ff9800 !important;
    background-color: #ff9800 !important;
}

._active
{
    border: 1px solid #687282 !important;
    background-color: #687282 !important;
}

._dark
{
    border: 1px solid #333 !important;
    background-color: #333 !important;
}

._white
{
    border: 1px solid #fff !important;
    background-color: #fff !important;
}

._grey
{
    border: 1px solid #d3d3d3 !important;
    background-color: #d3d3d3 !important;
}

._cream
{
    border: 1px solid #f0f0f0 !important;
    background-color: #f0f0f0 !important;
}

._purple
{
    border: 1px solid #800080 !important;
    background-color: #800080 !important;
}

._primary
{
    border-color: #33c3f0 !important;
    background-color: #33c3f0 !important;
}

._cream,
._white
{
    color: #000 !important;
}

._primary,
._purple,
._grey,
._dark,
._active,
._danger,
._success,
._info,
._warning
{
    color: #fff !important;
}

._noDelay
{
    transition-duration: 0s !important;
}

._disabled
{
    cursor: not-allowed;

    opacity: .6;
    color: #555;
    border: 1px solid #ccc;
    background-color: #eee;
}

._truncate,
._expandable-truncate
{
    overflow: hidden;

    width: 250px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

._expandable-truncate:hover
{
    overflow: initial;

    width: 100%;

    white-space: initial;
}

._shadow
{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2) !important;
}
